pushd()
{
  if [[ $# -eq 0 ]]; then
    builtin pushd "$HOME" > /dev/null
  elif [[ "$1" == "-" ]]; then
    pwd=$(pwd)
    popd
    dirstack+=($pwd)
    export dirstack
  else
    builtin pushd "$1" > /dev/null
  fi
}

popd()
{
  builtin popd > /dev/null
}

alias cd='pushd'
alias back='popd'
