[Desktop Entry]
Type=Action
Tooltip=Open Ranger file manager here
Name=Open Ranger
Profiles=profile-zero;
Icon=utilities-terminal
Name[pl_PL]=Otwórz Ranger
Tooltip[pl_PL]=Otwórz Ranger w tym katalogu

[X-Action-Profile profile-zero]
MimeTypes=inode/directory
Exec=/usr/bin/kitty ranger %f
